@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto&family=Ubuntu&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

/*Whole Page Grid*/

div#main-grid-container {
  display: grid;
  grid-template: repeat(10, minmax(50px, 1fr)) / repeat(5, minmax(160px, 1fr));
}

/*Whole Page Grid Ended*/

/*Sidebar Section*/

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

div#sidebar {
  display: grid;
  background-color: #22c55e;
  grid-template: repeat(16, minmax(75px, 1fr)) / repeat(1, minmax(50px, 1fr));
  grid-row: 1/11;
}

.sidebar-icons {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.dashboard > span {
  font-size: x-large;
}

.home {
  grid-row: 3 / 4;
  align-self: center;
}

.profile {
  grid-row: 4 / 5;
  align-self: center;
}

.messages {
  grid-row: 5 / 6;
  align-self: center;
}

.history {
  grid-row: 6 / 7;
  align-self: center;
}

.tasks {
  grid-row: 7 / 8;
  align-self: center;
}

.communities {
  grid-row: 9 / 10;
  align-self: center;
}

.settings {
  grid-row: 10/ 11;
  align-self: center;
}

.support {
  grid-row: 11 / 12;
  align-self: center;
}

.privacy {
  grid-row: 12 / 13;
  align-self: center;
}

/*Sidebar Section Ended*/

/*Header*/

div#header {
  display: grid;
  background-color: #e7e5e4;
  grid-template: repeat(2, minmax(50px, 1fr)) / repeat(10, minmax(50px, 1fr));
  justify-content: center;
  align-items: center;
  grid-row: 1/3;
  grid-column: 2/6;
}

a[href="https://github.com/Anuj-Kumar0"]
{
  color: black;
}

span#search-icon {
  margin-right: 5px;
  display: grid;
  justify-content: end;
}

span#search-bar {
  display: grid;
  justify-content: flex-start;
}

span#notification {
  grid-area: 1/7/2/8;
  justify-self: flex-end;
  align-self: center;
}

span.github {
  justify-self: flex-end;
  align-self: center;
}

#account {
  grid-area: 1/8/2/9;
}

#name {
  grid-area: 1/9/2/10;
}

input {
  grid-area: 1/2/2/7;
  height: 30px;
  border-radius: 30px;
  background-color: #e2e8f0;
}

#second-row-account {
  grid-area: 2/1/3/2;
}

#intro {
  display: grid;
  grid-area: 2/2/3/5;
  justify-content: flex-start;
  align-items: center;
}

span#big {
  display: grid;
  font-size: 22px;
}

button#first-button {
  display: grid;
  grid-area: 2/7/3/8;
  justify-content: center;
}

button#second-button {
  display: grid;
  grid-area: 2/8/3/9;
  justify-content: center;
}

button#third-button {
  display: grid;
  grid-area: 2/9/3/10;

  justify-content: center;
}
.buttons {
  border: none;
  min-width: 50px;
  max-width: 100px;
  min-height: 35px;
  max-height: 75px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #22c55e;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

/*Header Section Ended*/

/*Main Content Section*/

div#main-content {
  grid-row: 3/11;
  grid-column: 2/6;
}

div#main-content > div {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #e2e8f0;
  border-top: 5px solid #cbd5e1;
  grid-template: repeat(16, minmax(50px, 1fr)) / repeat(3, minmax(160px, 1fr));
}

div#main-content > div > span:nth-child(1) {
  display: grid;
  grid-area: 1/1/2/3;
  align-items: center;
  justify-content: center;
}

div#main-content > div > span:nth-child(2) {
  display: grid;
  grid-area: 1/3/2/4;
  align-items: center;
}

div#main-content > div > span:nth-child(3) {
  display: grid;
  grid-area: 9/3/10/4;
  align-items: center;
}

div.Super {
  grid-area: 2/1/6/2;
}

div.Less {
  grid-area: 2/2/6/3;
}

div.Site {
  grid-area: 2/3/9/4;
}

div.Impossible {
  grid-area: 7/1/11/2;
}

div.Easy {
  grid-area: 7/2/11/3;
}

div.Tegan {
  grid-area: 10/3/16/4;
}

div.Impossible {
  grid-area: 7/1/11/2;
}

div.Ad {
  grid-area: 12/1/16/2;
}

div.Money {
  grid-area: 12/2/16/3;
}

div.tegan-grid {
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr;
  margin-left: 20px;
  margin-right: 20px;
}

div.tegan-grid-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tegan-first {
  margin-right: 5px;
  border-bottom: 3px solid #e2e8f0;
}

#tegan-second {
  border-bottom: 3px solid #e2e8f0;
}

#tegan-third {
  border-bottom: 3px solid #e2e8f0;
}

#tegan-fourth {
  margin-right: 35px;
}

.user {
  font-weight: 100;
  color: grey;
}

.Super,
.Less,
.Impossible,
.Easy,
.Ad,
.Money {
  display: grid;
  grid-template: 2/1;
}

main {
  display: flex;
  justify-content: flex-end;
}

main > svg {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

div.cards.Site {
  display: grid;
  grid-template: repeat(3, minmax(50px, 1fr)) / 1fr;
}

div.site-margin {
  margin-left: 20px;
  margin-right: 20px;
}

div.site-margin-border {
  border-bottom: 3px solid #e2e8f0;
}

div.cards {
  display: grid;
  background-color: #fff;
  border-left: 8px solid #22d3ee;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

div.cards > p {
  margin: 20px;
}

.cards:hover {
  box-shadow: 8px 8px 6px #c4b5fd;
}

p + span {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  bottom: 10px;
  font-size: 14px;
  font-weight: 200;
  color: #6b7280;
}

pre {
  margin: 10px auto;
}

pre + span {
  font-size: 14px;
  font-weight: 200;
  color: #6b7280;
}
